:root {
        /* cores */
    --corPrimaria:#0864a1;
    --corSecundaria: #2c3e50;
    --darkTheme:#1c1c1d;
}

html {
    scroll-behavior: smooth;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -5%;
    padding-bottom: 5%;
}

.foto-perfil {
    height: 15%;
    width: auto;
    max-width: 20%;
    border-radius: 50%;
}

.corPrimaria {
    background-color: var(--corPrimaria);
}

.corSecundaria {
    background-color: var(--corSecundaria);
}

p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black !important;
}

.icones {
    padding-left: 5px;
    font-size: 25px;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--corPrimaria)
}

.textoBranco {
    color: white !important;
}

.textoPreto {
    color:black !important;
}

.jumbotron {
    margin-bottom: 0px;
}

.textoFooter {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
}

h3 {
    padding-top: 45px;
    padding-bottom: 60px;
}
h4 {
    margin-bottom: 0px;
    padding-bottom: 25px;
    text-align: center;
}

a {
    
    padding-bottom: 20px;
    font-weight: 700;
    color: var(--corPrimaria)
}

a:hover{
    color: darkblue;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contato {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--corPrimaria);
    
}

.contato:hover {
    color: darkblue;
    text-decoration: underline;
}

.footer-p {
    margin-top: 5px;
}

/* Tema Escuro */

.darkTheme {
    background-color: var(--darkTheme);
}

/* @media only screen and (max-width: 768px) {
    .whatsapp {
        margin-left: 35%;
    }
}

@media only screen and (max-width: 375px) {
    .whatsapp {
        margin-left: 22%;
    }

}

@media only screen and (max-width: 450px) {
    .whatsapp {
        margin-left: 25%;
    }

}

@media only screen and (min-width: 1080px) and (orientation: portrait) {
    .whatsapp {
        margin-left: 41%;
    }

}

@media only screen and (min-width: 1920px) {
    .theme {
        margin-top: -2%;
        padding-bottom: 5%;
    }
}
 */


